{% extends layout('store') %}

{% block content %}
    <div class="container">

        <header class="jumbotron text-center">

            <h1>
                {{ trans('anomaly.module.store::message.tagged', {'tag': request_route().getParameter('tag')}) }}
            </h1>

        </header>

        {% set products = entries('store', 'products')
        .where('tags', 'LIKE', '%"' ~ request_route().getParameter('tag') ~ '"%')
        .orderBy('featured', 'DESC')
        .paginate() %}

        {% include "anomaly.module.store::products/partials/products" with {"products": products} %}

        {{ products.links|raw }}

    </div>
{% endblock %}
