<ul class="nav nav-tabs">
    <li class="active">
        <a href="#product-details" data-toggle="tab">Details</a>
    </li>
    <li>
        <a href="#product-features" data-toggle="tab">Features</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="product-details">
        {{ product.content|raw }}
    </div>
    <div class="tab-pane" id="product-features">

        <br>

        <table class="table table-bordered">
            <tbody>
            {% if product.brand_id %}
                <tr>
                    <th>Brand</th>
                    <td>{{ html_link(product.brand.route('view'), product.brand.name) }}</td>
                </tr>
            {% endif %}

            {% for value in product.feature_values %}
                <tr>
                    <th>{{ value.feature.object.label()|raw }}</th>
                    <td>{{ value.label }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
