{% extends layout('store') %}

{% block content %}
    <div class="container">

        {% set brands = entries('products', 'brands').get() %}

        {% include "anomaly.module.products::brands/partials/brands" with {"brands": brands} %}

        {{ brands.links|raw }}

    </div>
{% endblock %}
