{% extends layout('products') %}

{% block content %}
    <div class="container">

        <header class="jumbotron text-center">

            {{ category.images.first().make.fit(150, 150).class('img-circle')|raw }}

            <h1>{{ category.title }}</h1>

            {% if category.description %}
                <p>{{ category.description|raw }}</p>
            {% endif %}

        </header>

        {% set products = category.products().where('enabled', true).orderBy('featured', 'DESC').paginate() %}

        {% if category.children.count() %}
            {% include "anomaly.module.products::categories/partials/categories" with {"categories": category.children} %}
        {% endif %}

        {% include "anomaly.module.products::products/partials/products" with {"products": products} %}

        {{ products.links|raw }}

    </div>
{% endblock %}
