{% extends layout('products') %}

{% block content %}
    <div class="container">

        {% set categories = entries('products', 'categories').whereParentId(null).get() %}

        {% if not categories.empty() %}
            {% include "anomaly.module.products::categories/partials/categories" with {"categories": categories} %}
        {% endif %}

        {% set products = entries('products', 'products')
        .where('enabled', true)
        .orderBy('featured', 'DESC')
        .get() %}

        {% include "anomaly.module.products::products/partials/products" with {"products": products} %}

        {{ products.links|raw }}

    </div>
{% endblock %}
